{% extends "base.html" %}

{% block content %}
<h1>DETAIL</h1>
<p>글번호 : {{article.pk}} </p>
<p>글제목 : {{article.title}} </p>
<p>글내용 : {{article.content}} </p>
<p>작성시각 : {{article.created_at}} </p>
<p>수정시각 : {{article.updated_at}} </p>

<a href="{% url "articles:edit" article.pk %}" class='btn btn-warning'>수정하기</a>

<form class = 'd-inline' action="{% url "articles:delete" article.pk %}" method = 'POST'>
  {% csrf_token %}
  <input type="submit" value="삭제하기" class="btn btn-danger">
</form>

<hr>
<a href="{% url "articles:index" %}">[INDEX]</a>

{% endblock content %}